extends includes/layout

block vars
  - var pageDescription = ''
  - var pageImage = ''
  - var pageUrl = ''

block title
  | Markdowning 

block header
  h1 Project 3
 
block content
  .demo
    h1 Markdowning
    ol 
      li Make 3 new pages (including the siblings page)
      li Have each page link to the other pages (navigation)
      li Add at least one image, heading, subhead, and paragraph to each page
      li Upload a picture for each of your siblings that reminds you of them (not a picture of them, but something else)
      li One of the pages should be a page that links to all your siblings and has a picture of something that reminds you of them.
    
